<!-- templates/item/_show_con.html.eex -->

<%
  alias PhxHttpWeb.ItemView

  meta      = @item.meta
  about     = @item.about
  authors   = get_in(meta,  [:refs, :f_authors])
%>

<div class="hs-base1">
  <h2><%= meta.title %></h2>

  <p><%= fmt_authors(authors) %><p>

  <%= fmt_path(@key) %>

  <%= fmt_precis(about.precis) %>
  
  <%= render(ItemView, "_show_refs.html", assigns) %>

  <%= fmt_markup(@item, [:about, :verbose]) %>
</div>
