<!-- templates/item/show.html.eex -->

<%
  alias PhxHttpWeb.ItemView

  pattern     = ~r{ ^ Areas / Catalog / }x
  item_type   = if @key =~ pattern do "cat" else "con" end
  show_path   = "_show_#{ item_type }.html"

  my_assigns  = assigns
  |> Map.put(:preview, nil)
%>

  <%= render ItemView, show_path, my_assigns %>
  