<!-- templates/text/usage.html.eex -->

<%
  meta      = @item.meta
  title     = meta.title
%>

<h2><%= title %></h2>

<div class="hs-base1">
  <toc />
</div>

<%= fmt_section(@item, [:about, :verbose]) %>
