/* print.css - settings for printing */

@media print {

  main {
    font-size:    small;
  }

  header, footer, p.alert, div.path {
    display:      none;
  }

  a {
    color:        black;
  }
  
  a[href^="http://"]::after,
  a[href^="https://"]::after  {
    content:      " [" attr(href) "]";
    font-family:  "Lucida Console", Monaco, monospace;
    font-size:    small;
  }

  code.inline {
    font-family:  "Lucida Console", Monaco, monospace;
    font-size:    smaller;
    margin:       0 0;
    padding:      0 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom:          0.20rem;
    margin-top:             0.50rem;
  }
  
  h1 { font-size:           2.25rem; }
  h2 { font-size:           2.00rem; }
  h3 { font-size:           1.75rem; }
  h4 { font-size:           1.50rem; }
  h5 { font-size:           1.25rem; }
  h6 { font-size:           1.00rem; }
}