<!-- templates/area/show_2.html.eex -->

<h2><%= @name %></h2>

<%= fmt_section(@item, [:about, :verbose]) %>

<%= for section <- @sections do %>
  <h3>
    <%= body    = "#{ @name }/#{ section }"
        precis  = get_precis(body)
        title   = "Go to the #{ section } index page."
        url     = url_area(body)
        link(section, title: title, to: url)
    %>
    (<%= @counts[section] || 0 %>)
  </h3>

  <p>This section contains <%= precis %>.</p>
<% end %>
