<!-- templates/search/_show_defined.html.eex -->

<%
  import PhxHttpWeb.LayoutView, only: [hide_show: 2]
%>

<%= if !Enum.empty?(@tags_d) do %>
  <div class="hs-base1">
    <h4>
      Defined
      <%= hide_show("is:1/2", "tag types for defined queries") %>
    </h4>

    <div class="hs-body1 hs-is">
      <ul>
        <%= fmt_tag_set(@tags_d, @cur_set, :defined) %>
      </ul>
    </div>
  </div>
<% end %>
