<!-- templates/search/_show_defined.html.eex -->

<%= if !Enum.empty?(@tags_d) do %>
  <div class="hs-base1">
    <h4>Defined</h4>
    <p><%= hide_show("is:1/2") %></p>

    <div class="hs-body1 hs-is">
      <ul>
        <%= fmt_tag_set(@tags_d, @cur_set, :defined) %>
      </ul>
    </div>
  </div>
<% end %>
