<!-- _hs_s.html.eex - offers "show" initially -->

<span class="hs-hide<%= @hs_level %> hs-ih hs-none">(<a
  href="#">hide</a>)</span>
<span class="hs-show<%= @hs_level %> hs-is hs-none">(<a
  href="#">show</a>)</span>
