<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= render(PhxHttpWeb.LayoutView, "_head.html", assigns) %>
  </head>

  <%
    import Common, warn: false, only: [ chk_local: 1, ii: 2, ssw: 2 ]

    path_str    = @conn.path_info     |> Enum.join("/")
    query_str   = @conn.query_string
    local_user  = chk_local(@conn)

    rel_url     = case query_str do
      ""    -> "/#{ path_str }"
      _     -> "/#{ path_str }?#{ query_str }"
    end

    item_page   = path_str == "item"
    edit_link   = item_page && ssw(@key, "Areas/Catalog/")
    source_link = item_page || (path_str == "text")

#   ii(get_run_mode(), "get_run_mode") #!T
#   ii(@item, "item") #!T
  %>

  <body>
    <header>
      <nav>
        <h1>&nbsp;<%=
          title   = "Go to: home page [local]"
          link("Pete's Alley", title: title, to: "/")
        %></h1>

        <br>&nbsp;
        <%=
          title   = "Go to: About [local]"
          url     = "/text?key=_text/about.toml"
          link("About", title: title, to: url)
        %>

        &nbsp;
        <%=
          title   = "Go to: Areas [local]"
          link("Areas", title: title, to: "/area")
        %>

        &nbsp;
        <%=
          title   = "Go to: Search [local]"
          link("Search", title: title, to: "/search/find")
        %>

        &nbsp;
        <%=
          title   = "Go to: Usage [local]"
          url     = "/text?key=_text/usage.toml"
          link("Usage", title: title, to: url)
        %>

        <%= if local_user do %>
          &nbsp;|&nbsp;
          <%=
            title   = "Reload the site's content."
            url     = "/reload?redirect=#{ rel_url }"
            link("Reload", title: title, to: url)
          %>
        <% end %>
      </nav>
    </header>

    <main>
      <p class="alert alert-info"   role="alert"
        ><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"
        ><%= get_flash(@conn, :error) %></p>
      <%= render(@view_module, @view_template, assigns) %>
    </main>

    <hr>

    <footer>
      <nav>
        &nbsp;
        <%=
          title   = "Go to this item's Feedback page."
          url     = "/mail/feed?url=#{ rel_url }"
          link("Feedback", title: title, to: url)
        %>

        <%= if source_link do %>
          &nbsp;
          <%=
            title   = "Go to this item's Source page."
            url     = "/source?key=#{ @key }"
            link("Source", title: title, to: url)
          %>
        <% end %>

        <%= if edit_link do %>
          &nbsp;
          <%=
            title   = "Go to this item's Edit page."
            url     = "/edit?key=#{ @key }"
            link("Edit", title: title, to: url)
          %>
        <% end %>

        &nbsp;
        <%=
          title     = "Go to the site's Dashboard page."
          link("Dashboard", title: title, to: "/dash")
        %>
      </nav>
    </footer>

    <script type="text/javascript"
            src="<%= Routes.static_path(@conn, "/js/app.js") %>"
    ></script>
  </body>
</html>
