<!DOCTYPE html>
<%
  alias PhxHttpWeb.LayoutView

    import Common.Tracing, only: [ii: 2], warn: false
    import Common, only: [ssw: 2]

    path_str    = @conn.path_info     |> Enum.join("/")
    query_str   = @conn.query_string

    rel_url     = case query_str do
      ""    -> "/#{ path_str }"
      _     -> "/#{ path_str }?#{ query_str }"
    end

    item_page   = path_str == "item"
    slide_page  = path_str =~ ~r{^slide}
    edit_link   = item_page && ssw(@key, "Areas/Catalog/")
    source_link = item_page || (path_str == "text")

#   ii(get_run_mode(), "get_run_mode") #!T
#   ii(@item, "item") #!T

    my_assigns  = assigns
    |> Map.put(:edit_link,    edit_link)
    |> Map.put(:rel_url,      rel_url)
    |> Map.put(:source_link,  source_link)
%>

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= render(LayoutView, "_head.html", assigns) %>
  </head>

  <body>
    <%= unless slide_page do %>
      <%= render(LayoutView, "_header.html", my_assigns) %>
    <% end %>

    <main>
      <p class="alert alert-info"   role="alert"
        ><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"
        ><%= get_flash(@conn, :error) %></p>
      <%= render(@view_module, @view_template, my_assigns) %>
    </main>

    <%= unless slide_page do %>
      <%= render(LayoutView, "_footer.html", my_assigns) %>
    <% end %>

    <script type="text/javascript"
            src="<%= Routes.static_path(@conn, "/js/app.js") %>"
    ></script>
  </body>
</html>
