# Vagrantfile.dist
#
# This file specifies the Perkify VM configuration that should be distributed
# (packaged and uploaded to the Vagrant Cloud).  See ./vf_common.rb for
# method definitions.

  Vagrant.configure('2') do |config|
    config.ssh.forward_x11  = true

    vm      = config.vm
    vm.box  = 'Rich_Morin/Perkify'

    conf_ports(vm)            # Create port mappings.
    prov_init(vm, 'perkify')  # Initial provisioning
    cust_alsa(vm)             # Customize ALSA.
  end
